button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    border-radius: 10px;
    margin-top:10px;
    margin-left: 3px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 0px;
    text-align: center;
}

/* .link-button:hover {background-color: #3e8e41}

.link-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */

button{
    border-radius: 10px;
    background: rgb(247, 86, 86);
    padding: 10px;
    color: white;
    display: block;
    width: 275px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
