.heading > p{
    margin:10px;
    padding: 10px;
    color: dodgerblue;
    text-decoration: none;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.main-links ul{
    display: flex;
    flex-direction:row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    margin:0px;
    margin-top: 30px;
    margin-right: 20px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold; 
}

.main-links ul> li >a{
    border-radius: 10px;
    background: dodgerblue;
    margin:10px;
    padding: 50px;
    color: white;
    display: block;
    text-decoration: none;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.main-links ul>li>a:hover{
    background-color: rgb(144, 200, 255);
}

.link-buttons {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: left;
    border-radius: 10px;
    margin-top:10px;
    margin-left: 3px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 0px;
    text-align:center;
}

/* .link-button>ul{
    display: flex;
    flex-direction:row;
    align-content: center;
    justify-content: space-evenly;
    border-radius: 5px;
    margin:0px;
    padding:0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold; 
    text-align: center;
    list-style: none;
} */

.link-button>li{
    list-style:none;
}

.link-button >li> a{
    border-radius: 10px;
    background: lightseagreen;
    padding: 10px;
    color: white;
    display: block;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.link-button>li>a:hover{
    background-color: #3e8e41;
}

input[type="date"]{
    background-color: dodgerblue;
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator{
    background-color: white;
}


input[type="submit"] {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:11px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
    margin-top: 20px;
    width: 300px;
}
input[type="submit"]:hover {
	background:linear-gradient(to bottom, #3e8e41 5%, #3e8e41 100%);
	background-color:#3e8e41;
}
input[type="submit"]:active {
	position:relative;
	top:1px;
}

button, input[type="submit"], input[type="reset"] {
	background: lightseagreen;
	color: inherit;
	border: none;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
	cursor: pointer;
	outline: inherit;
}

button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    border-radius: 10px;
    margin-top:10px;
    margin-left: 3px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 0px;
    text-align: center;
}

/* .link-button:hover {background-color: #3e8e41}
.link-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */

button{
    border-radius: 10px;
    background: rgb(247, 86, 86);
    padding: 10px;
    color: white;
    display: block;
    width: 275px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.flex{
    display:flex;
    flex-wrap: wrap;
}

.bluebox{
    border-radius: 10px;
    background: dodgerblue;
    padding: 10px;
    color: #FBFAF5;
    height: 280px;
    width: 300px;
    margin: 10px;
    list-style:inherit;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
}

.bluebox2{
    border-radius: 10px;
    background: dodgerblue;
    padding: 10px;
    color: #FBFAF5;
    height: 200px;
    width: 300px;
    margin: 10px;
    list-style:inherit;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
}

.bluebox:hover{
    background-color: rgb(144, 200, 255);
}

.bluebox2:hover{
    background-color: rgb(144, 200, 255);
}

.bluebox3{
        border-radius: 10px;
        background: dodgerblue;
        padding: 10px;
        color: #FBFAF5;
        height: 200px;
        width: 300px;
        margin: 10px;
        list-style:inherit;
        font-size: 16px;
        text-align: center;
        border: 1px solid black;
    }

    .bluebox4{
        border-radius: 10px;
        background: dodgerblue;
        padding: 10px;
        color: #FBFAF5;
        height: 280px;
        width: 300px;
        margin: 10px;
        list-style:inherit;
        font-size: 16px;
        text-align: center;
        border: 1px solid black;
    }

    .searchbar{
        width: 300px;
        height: 30px;
        border-radius: 10px;
        font-size: 120%;
        text-align: center;
        margin: 10px;
        padding: 10px;
        font-weight: bold;
    }
    
input.searchbar{
    margin: 10px;
}

a{
    margin: 10px;
}

h2{
    padding: 0px;
    margin: 10px;
}

h4{
    margin: 10px;
}

h3{
    padding-top: 10px;
    margin: 10px;
}          

hr{ 
    background-color: dodgerblue;
    width: 10px;
}