.header{
    background-color: DodgerBlue;
    height: 230px;
}

.title{
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    justify-content: left;
    font-size: 70px;
    font-weight:800;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 40px;
    padding-top: 30px;
}

.main-nav > ul {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 10px;
    margin:0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.main-nav ul > li > a{
    border-radius: 10px;
    background: white;
    margin:0px;
    padding: 15px;
    color: dodgerblue;
    display: block;
    text-decoration: none;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.button{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 10px;
    margin:0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.button{
    border-radius: 10px;
    background: lightseagreen;
    padding: 10px;
    color: white;
    display: block;
    width: 275px;
}